<div id="<%= dom_id ticket %>">
  <p>
    <strong>Title:</strong>
    <%= ticket.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= ticket.description %>
  </p>

  <p>
    <strong>Current state:</strong>
    <%= ticket.current_state %>
  </p>

  <p>
    <strong>Current release milestone:</strong>
    <%= ticket.current_release_milestone %>
  </p>

</div>
